name: Build Radio Algeria

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Qt and dependencies
        run: |
          sudo apt update
          sudo apt install -y qt6-base-dev qt6-base-dev-tools cmake ninja-build

      - name: Configure
        run: |
          cmake -S . -B build -G Ninja

      - name: Build
        run: |
          cmake --build build